
*
	margin: 0
	padding: 0
	font-family: 'Turret Road'
	box-sizing: border-box

.links-container 
	margin-top: 5px

.title
	text-decoration: underline
	display: inline-block
	padding-bottom: 30px

.center 
	justify-content: center
	align-items: center
	display: flex

.main-title
	font-size: 1.3rem
	font-weight: 700
	width: 180px
	text-align: center
	padding-top: 10px
	align-self: flex-start

.search
	position: fixed
	display: flex
	top: 0
	left: 0
	width: 100vw
	height: 150px
	background-color: #F3F3F3
	align-content: center
	align-items: center
	justify-content: space-between

.container-flex
	display: flex

.main
	margin-top: 200px
	padding-top: 30px
	justify-content: space-around
	width: 100%

.black
	background-color: black

.search-button
	margin-left: 10px
	padding: 5px
	display: inline-block
	border-style: solid 
	border-color: black
	border-width: 1px
	border-radius: 5px
	background-color: white
	flex-shrink: 0

a:hover	
	font-weight: 700

a:visited, a:link
	color: blue


.jobs
	width: 20vw



.job
	border: 1px solid rgba(0, 0, 0, .2)
	font-size: .7rem

.search-button:hover, .search-button:focus
	cursor: pointer
	background-color: #F3F3F3

.search-button:active
	background-color: black
	color: white

.search-input
	margin-right: 10px
	padding: 5px
	font-size: 16px
	flex-shrink: 0
	border: 1px solid grey

	
.search-container
	margin-left: 20px

form
	display: flex
	align-items: center
	justify-content: space-around

.buttons-container 
	justify-content: space-around

@media (max-width: 780px)

	.search-container
		flex-direction: column
		height: 150px
		align-content: center
		justify-content: space-around
		
	.main-title
		font-size: 1.2rem
		order: 1
		width: 100%
	
	.jobs
		padding-top: 40px

	.form 
		width: 100%
		align-self: center
		order: 2

	.search
		height: 250px
		justify-content: space-evenly
		flex-direction: column
		

	.search-input
		margin: 0
		width: 100%

	.search-button
		margin: 5px
		width: 50%
		min-width: 75px
		flex-shrink: 0

	

